.button-page {
    padding: 5px 20px;
    background: none;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

.page-active {
    background-color: rgba(0, 0, 0, 0.26);
    font-weight: bold;
}